<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.chat.server.dao.ServerUserMapper">

    <resultMap id="UserResultMap" type="com.flow.chat.bgd.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="online" jdbcType="BOOLEAN" property="online"/>
    </resultMap>

<!--    查询好友-->
    <select id="selectFriendsByUserId" parameterType="java.lang.String" resultMap="UserResultMap">
        select u.*,l.online from user u LEFT JOIN on_line l on u.user_id=l.user_id
            where u.user_id in (
	                select friend_id from user_friend where user_id =#{userId,jdbcType=VARCHAR})
    </select>

<!--    查询在线好友-->
    <select id="selectOnlineFriendsByUserId" parameterType="java.lang.String" resultMap="UserResultMap">
        <!-- select * from user
        where
        user_id in (select friend_id from user_friend where user_id =#{userId,jdbcType=VARCHAR})
        and online=1 -->
        select * from user
        where
        user_id in (
        select friend_id from user_friend f RIGHT JOIN on_line o ON f.friend_id=o.user_id
        where f.user_id =#{userId,jdbcType=VARCHAR} and o.online=true
        )
    </select>

</mapper>