<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.chat.server.dao.ServerUserMapper">


    <resultMap id="UserResultMap" type="com.flow.chat.bgd.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>


    <select id="selectOnlineFriendsByUserId" parameterType="java.lang.String" resultMap="UserResultMap">
        <!-- select * from user
        where
        user_id in (select friend_id from user_friend where user_id =#{userId,jdbcType=VARCHAR})
        and online=1 -->
        select * from user
        where
        user_id in (
        select friend_id from user_friend f RIGHT JOIN on_line o ON f.friend_id=o.user_id
        where f.user_id =#{userId,jdbcType=VARCHAR} and o.online=true
        )
    </select>

</mapper>