<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.chat.bgd.mapper.OnLineMapper">
    <resultMap id="BaseResultMap" type="com.flow.chat.bgd.model.OnLine">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="online" jdbcType="BIT" property="online"/>
        <result column="login_time" jdbcType="VARCHAR" property="loginTime"/>
        <result column="logout_time" jdbcType="VARCHAR" property="logoutTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, user_id, online, login_time, logout_time
  </sql>
    <select id="selectByExample" parameterType="com.flow.chat.bgd.model.OnLineExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from on_line
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from on_line
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from on_line
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.flow.chat.bgd.model.OnLineExample">
        delete from on_line
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.flow.chat.bgd.model.OnLine">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into on_line (user_id, online, login_time,
        logout_time)
        values (#{userId,jdbcType=VARCHAR}, #{online,jdbcType=BIT}, #{loginTime,jdbcType=VARCHAR},
        #{logoutTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.flow.chat.bgd.model.OnLine">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into on_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="online != null">
                online,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="logoutTime != null">
                logout_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="online != null">
                #{online,jdbcType=BIT},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=VARCHAR},
            </if>
            <if test="logoutTime != null">
                #{logoutTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.flow.chat.bgd.model.OnLineExample" resultType="java.lang.Long">
        select count(*) from on_line
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update on_line
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.online != null">
                online = #{record.online,jdbcType=BIT},
            </if>
            <if test="record.loginTime != null">
                login_time = #{record.loginTime,jdbcType=VARCHAR},
            </if>
            <if test="record.logoutTime != null">
                logout_time = #{record.logoutTime,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update on_line
        set id = #{record.id,jdbcType=BIGINT},
        user_id = #{record.userId,jdbcType=VARCHAR},
        online = #{record.online,jdbcType=BIT},
        login_time = #{record.loginTime,jdbcType=VARCHAR},
        logout_time = #{record.logoutTime,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.flow.chat.bgd.model.OnLine">
        update on_line
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="online != null">
                online = #{online,jdbcType=BIT},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=VARCHAR},
            </if>
            <if test="logoutTime != null">
                logout_time = #{logoutTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.flow.chat.bgd.model.OnLine">
    update on_line
    set user_id = #{userId,jdbcType=VARCHAR},
      online = #{online,jdbcType=BIT},
      login_time = #{loginTime,jdbcType=VARCHAR},
      logout_time = #{logoutTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>