<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.chat.client.dao.ClientUserMapper">


    <resultMap id="UserResultMap" type="com.flow.chat.bgd.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="online" jdbcType="BOOLEAN" property="online"/>
    </resultMap>


    <select id="selectFriendsByUserId" parameterType="java.lang.String" resultMap="UserResultMap">
        select u.*,l.online from user u LEFT JOIN on_line l on u.user_id=l.user_id
            where u.user_id in (
	                select friend_id from user_friend where user_id =#{userId,jdbcType=VARCHAR})
    </select>

</mapper>